 *{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
}
.title1{
	font-size: 60px; 
	text-transform: uppercase;
	margin: 0 0 20px;
	padding: 0;
	width: auto;
}
 



html, body{
    height:100%;
    width: 100%;
    
}
i{
    margin-right: 10px;
}

body{

    background-size:cover;
    background-blend-mode:lighten;
    background-repeat: no-repeat;
}

.heading{
    width:100%;
    height:30%;
    margin:auto;
    position:fixed;
    top:-30%; bottom:0px; right:0px; left:0px;
}
.title1{
    display: block;
    text-align: center;
    color:yellow;
    font-size:65pt;
    font-family:big john;
    font-weight: bold;
}
.title2{
    display:block;
    margin-top:15px;
    text-align: center;
    color:white;
    font-weight:bold; 
    font-size:20pt;
    font-family:serif;
}

.register{
    margin: 50px auto;
    display:block;
    width:180px;
    height:50px;
    border:3px solid white;
    background-color:rgba(255,255,255,1);
    color:rgb(8, 70, 67);
    font-family:sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 1000ms, color 1000ms;
    text-transform: uppercase;
}
.register:hover{
    background-color:rgba(255,255,255,0);
    color:#222;
    cursor:pointer;
    transition: background-color 1000ms, color 1000ms;
   
}


.registerLink{
    text-decoration: none;
    display:block;
    padding:15px;
    color:black;
    transition: color 1000ms;

}

.registerLink:hover{
    color:black;
}


/* MODAL */

.modal_container{
    width:100%;
    height:100vh;
    pointer-events: none;
    opacity: 0;
    position:fixed;
    transition:all 500ms ease;
}

.modal_container:target{
    opacity:1;
    pointer-events: auto;
}

.modal_container > div{
    transform: translate(50%, -50%);
	transition: all 500ms ease;
}

.modal_container:target > div{
    transform: translate(0px, 0px);
}


.modal{
    width:350px;
    height:600px;
    margin:auto;
    position: absolute;
    top:5px; bottom:0px;
    right:0px; left:0px;
    background:black;
    opacity: 1;
    border:2px solid #222;
    padding:20px;
    box-shadow: 0px 0px 50px 5px black;
}
.modal1{
    width:350px;
    height:400px;
    margin:auto;
    position: absolute;
    top:5px; bottom:0px;
    right:0px; left:0px;
    background:black;
    opacity: 1;
    border:2px solid #222;
    padding:20px;
    box-shadow: 0px 0px 50px 5px black;
    z-index: 1;
}


.modal_heading{
    box-sizing: border-box;
    width:100%;
    display:block;
    height:60px;
    margin-bottom:30px;
    color:white;
    padding:10px;
    text-align: center;
    font-size:20pt;
    font-family: big john;
    border-bottom: 2px solid #fefefe;
}

input{
    margin-bottom: 15px;
    padding:10px;
    width:100%;
    box-sizing: border-box;
    border-radius: 5px;
    height:40px;
    border:0px;
    font-family: georgia;
    font-size: 11pt;
    text-align: center;
}

.btnRegister{
    background:#007bff;
    color:white;
    font-size:15pt;
    margin-top:10px;
}
.btnRegister:hover{
    background:#3881d0;
}
.close{
    color:white;
    position: absolute;
    border:2px solid #333;
    padding:7px 9px 11px 9px;
    font-family: big john;
    background:red;
    text-decoration: none;
    top:-20px;
    right:-20px;
    border-radius: 40%;
    transition: background 500ms;
    z-index: 3;
}

.close:hover{
    background:#444;
    cursor:pointer;
}

.signin{
    color:white;
    display:inline-block;
    margin-top:15px;
    text-align: center;
    float:center;
    text-decoration: none;
    font-size: 13pt;
}
.forgotPassword{
	font-family:sans-serif
    color:white;
    display:inline-block;
    margin-top:15px;
    text-align: right;
    float:right;
    text-decoration: none;
    font-size: 13pt;
}

.signin:hover, .forgotPassword:hover{
    text-decoration: underline;
}
.log-box{
	display: inline;
	background: transparent;
}
@media screen and(max-width:720px){

}
@media screen and (max-width: 768px){
		.modal{
    width:350px;
    height:80vh;
    margin:auto;
    position: absolute;
    top:5px; bottom:0px;
    right:0px; left:0px;
    background:black;
    opacity: 1;
    border:2px solid #222;
    padding:20px;
    box-shadow: 0px 0px 50px 5px black;
    overflow: scroll;
}
}
.context{
	height: 100px;
	width: 100px;
	background: grey;
	border-radius: 50%;

}



/* Pour le Modal modification profiles sur la page voir Profile */

#modal3{
    display: none;
}



.modal3{
    width:350px;
    height:600px;
    margin:auto;
    position: absolute;
    top:5px; bottom:0px;
    right:0px; left:0px;
    background:#065471;
    opacity: 1;
    border:2px solid #222;
    padding:20px;
    box-shadow: 0px 0px 50px 5px black;
    z-index: 1;
}

